<div class="article-meta">
    {{ page.date | date: "%Y-%m-%d" }}
    {% if page.categories %} • Category: 
        {% for category in page.categories %}
        <a href="/{{site.categories_path}}/#{{category}}-ref" >{{ category }}</a>
        {% endfor%}
    {% endif %}
    {% if page.tags %} • Tag: 
        {% for tag in page.tags %}
            <a href="/{{site.tags_path}}/#{{tag}}-ref" >{{ tag }}</a>
        {% endfor%}
    {% endif %}
</div>


<div class="entry post">

	<div class="entry-content">
	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>
    </div>

</div>

<span>
	<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
</span>

{% if content and page.author_footer != false %}
	{% include post_footer.html %}

	{% if page.comments != false %}
	    {% include disqus.html %}
	{% endif %}


{% endif %}
{% include cnzz.html %}
